@import "/node_modules/react-day-picker/lib/style.css";

.DayPicker-Day--sunday {
  background-color: #0ceeee;
}

.DayPicker-Day {
  display: table-cell;
  padding: 0.5em;
  border-radius: 0%;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.DayPicker-Day--today {
  color: #bb5160;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  cursor: not-allowed;
  color: #797979;
  font-weight: 500;
  text-decoration: line-through;
}

.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #13334d !important;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #328edf;
}
